/* put your custom CSS in here */
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
	font-size: 0.85em;
	margin: 0;
	padding: 0;
	background-color: #4c0000;
	background-image: url(images/sia_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

.container {
	background-color: #FFF2DB;
	margin-top: 0px;
	padding-top: 0px;
}

#header {
	margin-top: 0px;
	padding-top: 0px;
	background-image: url(images/corners.jpg);
	background-repeat: no-repeat;
}


a:link, a:visited {
	color: #666;
}

a:hover {
	color: #999;
}


#nav {
	font-size: 1.2em;
	margin-left: 195px;
	/*margin-top: 20px;*/
	/*margin-bottom: 50px;*/
}

#nav a:link, #nav a:visited {
	color: #5C694E;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #5C694E;
	text-decoration: none;
}

#nav a:hover {
	color: #849771;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #849771;
	text-decoration: none;
}

h2 {
	font-size: 2em;
}

/*.menu-287:before {
	content: br;
}*/
.menu-287 {
	display: block;
	left: 65%;
	font-size: 0.6em;
}
.menu-288 {
	left: 75%;
	font-size: 0.6em;
}

.col-left {
	padding-left: 15px;
}

.col-center {
	width: 675px;
	padding-right: 15px;
}

#mission {
    font-style: italic;
}

#logo {
 //   float: left;
}

.block-uc_microcart {
 //   float: left;
}