/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

body {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
        font-size: 0.85em;
        margin: 0;
        padding: 0;
        background-color: #4c0000;
        background-image: url(images/sia_bg.jpg);
        background-repeat: repeat-x;
        background-position: left top;
}

article {
    padding-bottom: 50px;
}

#content {
    padding-left: 30px;
}

#page {
	background-color: #FFF2DB;
	margin-top: 30px;
	padding-top: 0px;
	width: 950px;
}

#main {
	padding-top: 5px;
}

#header {
	margin-top: 0px;
	padding-top: 10px;
	background-image: url(images/corners.jpg);
	background-repeat: no-repeat;
}

a:link, a:visited {
	color: #666;
}

a:hover {
	color: #999;
}

#site-slogan {
	font-style: italic;
	padding-left: 20px;
}

#navigation {
    font-size: 1.2em;
    left: 215px;
    top: -60px;
    width: auto;
}

#navigation a:link, #navigation a:visited {
	color: #5C694E;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #5C694E;
	text-decoration: none;
}

#navigation a:hover {
	color: #849771;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #849771;
	text-decoration: none;
}

h2 {
	font-size: 2em;
}

.ctools-collapsible-content {
    background: #f7f7f7;
    border: 1px solid #ccc;
}

.ctools-collapsible-handle {
    background: #ffffff;
    border: 1px solid #ccc;
}

.ctools-collapsible-container {
    padding: 0.3em;
}

.concert-listing dt {
    font-weight: bold;
    width: 150px;
    text-align: right;
}

.concert-listing dt, .concert-listing dd {
    display: block;
    float: left;
}
.concert-listing dt {
    clear: both;
}


thead th, th {
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
    color: #333;
}

tbody tr:nth-child(even) td, tbody tr.even td {
    background: #e5ecf9;
}

th, td, caption {
    padding: 4px 10px 4px 5px;
}

#block-menu-accountmenu {
    position: absolute;
    right: -120px;
    top: -30px;
    font-size: smaller;
}
